<div class="stats-switch js-switch">
    <%- link_to('All', '#', {class: 'active'}) %> / <%- link_to('Joined', '#') %> / <%- link_to('Left', '#') %>
</div>
<div class="list-group list-group-small">
    <a href="#" class="list-group-item list-group-item-success">Player_1
        <span class="badge">01/01/2014</span>
    </a>
    <a href="#" class="list-group-item list-group-item-danger">Player_2
        <span class="badge">02/01/2014</span>
    </a>
    <a href="#" class="list-group-item list-group-item-success">Player_3
        <span class="badge">03/01/2014</span>
    </a>
    <a href="#" class="list-group-item list-group-item-success">Player_4
        <span class="badge">04/01/2014</span>
    </a>
    <a href="#" class="list-group-item list-group-item-danger">Player_5
        <span class="badge">05/01/2014</span>
    </a>
</div>
