<div class="stats-switch">
    99 Members
</div>
<div class="list-group list-group-small">
    <a href="#" class="list-group-item">Clan Commander
        <span class="badge">commander</span>
    </a>
    <a href="#" class="list-group-item">Deputy Commander(s)
        <span class="badge">commander and 2 more</span>
    </a>
    <a href="#" class="list-group-item">Company Commander(s)
        <span class="badge">commander and 1 more</span>
    </a>
    <a href="#" class="list-group-item">Recruiter(s)
        <span class="badge">commander and 3 more</span>
    </a>
    <a href="#" class="list-group-item">X Soldiers and Y Recruits</a>
</div>
