<div class="stats-switch">
    99 Members
</div>
<div class="list-group list-group-small">
    <a href="#" class="list-group-item">
        <span class="hidden-xs">Clan Commander</span>
        <span class="visible-xs">C:</span>
        <span class="badge">commander</span>
    </a>
    <a href="#" class="list-group-item">
        <span class="hidden-xs">Deputy Commander(s)</span>
        <span class="visible-xs">DC:</span>
        <span class="badge">commander and 2 more</span>
    </a>
    <a href="#" class="list-group-item">
        <span class="hidden-xs">Company Commander(s)</span>
        <span class="visible-xs">CC:</span>
        <span class="badge">commander and 1 more</span>
    </a>
    <a href="#" class="list-group-item">
        <span class="hidden-xs">Recruiter(s)</span>
        <span class="visible-xs">R:</span>
        <span class="badge">commander and 3 more</span>
    </a>
    <a href="#" class="list-group-item">X Soldiers and Y Recruits</a>
</div>
