<div class="stats-switch js-switch">
    <%- link_to('# players', '#', {class: 'active'}) %> / <%- link_to('Total', '#') %> / <%- link_to('Active', '#') %>
</div>

<div class="progress progress-big">
    <div class="progress-bar" role="progressbar" style="width: 33%;">
        Heavy
    </div>
    <div class="progress-value">90</div>
</div>
<div class="progress progress-big">
    <div class="progress-bar" role="progressbar" style="width: 30%;">
        Medium
    </div>
    <div class="progress-value">80</div>
</div>
<div class="progress progress-big">
    <div class="progress-bar" role="progressbar" style="width: 4%;">
        Light
    </div>
    <div class="progress-value">10</div>
</div>
<div class="progress progress-big">
    <div class="progress-bar" role="progressbar" style="width: 19%;">
        TD
    </div>
    <div class="progress-value">50</div>
</div>
<div class="progress progress-big">
    <div class="progress-bar" role="progressbar" style="width: 15%;">
        Arty
    </div>
    <div class="progress-value">40</div>
</div>