<div class="stats-switch js-switch">
    <%- link_to('# players', '#', {class: 'active'}) %> / <%- link_to('Total', '#') %> / <%- link_to('Active', '#') %>
</div>

<div class="progress progress-big">
    <div class="progress-bar" role="progressbar" style="width: 33%;">
        <i class="tank-icon tank-icon-heavy"></i>
    </div>
    <div class="progress-value">90</div>
</div>
<div class="progress progress-big">
    <div class="progress-bar" role="progressbar" style="width: 30%;">
        <i class="tank-icon tank-icon-medium"></i>
    </div>
    <div class="progress-value">80</div>
</div>
<div class="progress progress-big">
    <div class="progress-bar" role="progressbar" style="width: 4%;">
        <i class="tank-icon tank-icon-light"></i>
    </div>
    <div class="progress-value">10</div>
</div>
<div class="progress progress-big">
    <div class="progress-bar" role="progressbar" style="width: 19%;">
        <i class="tank-icon tank-icon-td"></i>
    </div>
    <div class="progress-value">50</div>
</div>
<div class="progress progress-big">
    <div class="progress-bar" role="progressbar" style="width: 15%;">
        <i class="tank-icon tank-icon-arty"></i>
    </div>
    <div class="progress-value">40</div>
</div>