<h1 class="text-center">500</h1>
<h2 class="text-center">Internal server error</h2>
<% if (typeof errors !== 'undefined') { %>
<pre class="error"><code>
    <%
    _.each(errors, function (error) { %>
    <%= error %>
    <%
    }); %>
</code></pre>
<% } else { %>

<p class="error">
    There appears to be a problem on the server.<br/>
    If the problem persists, please <a href="mailto://andrej.hoos@gmail.com">contact the system administrator</a> and inform them of the time that the error occured, and anything you might have done that may have caused the error.
</p>
<% } %>