<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


    <!--STYLES-->
    <link rel="stylesheet" href="/1395094548033/styles/production.min.css">
    <!--STYLES END-->
    <!--SCRIPTS-->
    <script src="/1395094548033/js/production.min.js"></script>
    <!--SCRIPTS END-->

  </head>

  <body>

    <!-- Include the view file for the current controller/route -->
    <%- body %>

    </body>
</html>
