<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


    <!--STYLES-->
    <link rel="stylesheet" href="/1395093720731/styles/bootstrap.css">
    <link rel="stylesheet" href="/1395093720731/styles/application.css">
    <!--STYLES END-->
    <!--SCRIPTS-->
    <script src="/1395093720731/js/socket.io.js"></script>
    <script src="/1395093720731/js/sails.io.js"></script>
    <script src="/1395093720731/js/app.js"></script>
    <script src="/1395093720731/js/bootstrap/affix.js"></script>
    <script src="/1395093720731/js/bootstrap/alert.js"></script>
    <script src="/1395093720731/js/bootstrap/button.js"></script>
    <script src="/1395093720731/js/bootstrap/carousel.js"></script>
    <script src="/1395093720731/js/bootstrap/collapse.js"></script>
    <script src="/1395093720731/js/bootstrap/dropdown.js"></script>
    <script src="/1395093720731/js/bootstrap/modal.js"></script>
    <script src="/1395093720731/js/bootstrap/popover.js"></script>
    <script src="/1395093720731/js/bootstrap/scrollspy.js"></script>
    <script src="/1395093720731/js/bootstrap/tab.js"></script>
    <script src="/1395093720731/js/bootstrap/tooltip.js"></script>
    <script src="/1395093720731/js/bootstrap/transition.js"></script>
    <!--SCRIPTS END-->

  </head>

  <body>

    <!-- Include the view file for the current controller/route -->
    <%- body %>

    </body>
</html>
