@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

@media(min-width: (@screen-xs-min + 311px)){
  .ad-container-300x250 {
    position: relative;
    .ad-column {
      position: absolute;
      top: 0;
      right: 0;
      width: 300px;
      .ad {
        height: 250px;
        border: 1px solid @btn-default-border;
        .box-sizing(border-box);
      }
    }
    .ad-rest {
      padding: 0 330px 0 15px;
    }
  }
}

@media(max-width: (@screen-xs-min + 310px)){
  .ad-container-300x250 {
    .ad-column {
      margin: 0 auto;
      width: 300px;
      .ad {
        height: 250px;
        border: 1px solid @btn-default-border;
        .box-sizing(border-box);
      }
    }
    .ad-rest {
      padding: 0;
    }
  }
}