html, body {
  height: 100%;
}

#wrap {
  height: auto !important;
  margin: 0 auto -40px;
  min-height: 100%;
}

#push {
  height: 70px;
}

#footer {
  text-align: center;
  padding: 10px 0;
  height: 40px;
}

.main-search-form {
  margin-top: 10px;
  .form-group.wide {
    width: 70%;
    input {
      width: 100%;
    }
  }
}

.logo-text {
  img {
    margin-left: 30px;
    margin-right: 30px;
  }
  padding-right: 330px;
  font-size: 1.2em;
}

.main-logo {
  margin: 100px 0 50px;
  position: relative;
  .yellow-line-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 31px;
    height: 40px;
    .yellow-line {
      background: url('/images/yellow-line.png');
      position: absolute;
      right: 0;
      top: 0;
      width: 5000px;
      height: 40px;
    }

  }
}