@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

html, body {
  height: 100%;
}

#wrap {
  height: auto !important;
  margin: 0 auto -40px;
  min-height: 100%;
}

#push {
  height: 70px;
}

#footer {
  text-align: center;
  padding: 10px 0;
  height: 40px;
}

.main-search-form {
  margin-top: 10px;
  margin-bottom: 50px;
  .form-group.wide {
    width: 70%;
    @media(max-width: @screen-xs-min){
      width:57%;
    }
    input {
      width: 100%;
    }
  }
}

.main-logo {
  position: relative;
  margin-bottom: 30px;
  .yellow-line-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 31px;
    height: 40px;
    .yellow-line {
      background: url('/images/yellow-line.png');
      position: absolute;
      right: 0;
      top: 0;
      width: 5000px;
      height: 40px;
    }
  }
  .logo-text {
    img {
      margin: 0 30px 30px;
      @media(min-width: (@screen-xs-min + 311px)) and (max-width: @screen-md-min){
        margin-right: 100px;
        margin-bottom: 15px;
      }
    }
    font-size: 1.2em;
    @media(max-width: @screen-xs-min){
      img {
        float: none !important;
        margin-bottom: 15px;
        margin-left: -15px;
      }
      padding-left: 15px;
    }
  }
}

.news-container {
  padding-left: 15px;
  .news-element {
    margin-bottom: 25px;
  }
}