<% regionName = RegionService.TranslatedRegion[region] %>
<h1>Search <%= search ? 'for '+search : '' %> in <%= regionName %> region</h1>

<p>In the future here will be clan and player search results.</p>