<h1 class="text-center">About WoTcs.com</h1>

<div class="row">
    <div class="ad-300-250"></div>
    <div class="ad-rest">
        <div class="main-logo">
            <div class='yellow-line-wrapper'>
                <div class='yellow-line'></div>
            </div>
            <p class="logo-text">
                <%- img_tag('images/logo-text.png', {class: 'pull-left'}) %>
                <br>
                World of Tanks clan statistics was created when Clan Wars were first introduced. It allows you to check your opponent's strength
                without having to browse each clan's members' profile.
            </p>
        </div>
    </div>
</div>